In [ ]:
import pandas as pd

# Load the CSV file with question, answer key, and marks. This is blue print
file_path = r"data\questionAndAnswers.txt"
df = pd.read_csv(file_path,delimiter="|")
question_answer_blueprint_df = pd.read_csv(file_path,delimiter="|")

# Example of how your DataFrame looks
print(df)

  Qno                      Question Description  \
0  Q1            Which is the Capital of India?
1  Q2  What are Geographical Benifits of India?
2  Q3              Who is Missile Man of India?

                                              Answer  Max Marks
0                                          New Delhi         10
1  India’s Strategic Location.Isolation and Conne...         30
2                                    APJ Abdul Kalam         10

In [ ]:
student_score_answersheet_file_path = r"data\Student1.txt"
r"data\Students Answersheet\"
df_student = pd.read_csv(student_score_answersheet_file_path,delimiter="|")

print(df_student)

In [86]:


import os
import pandas as pd

# Directory path where the files are located
student_score_answersheet_file_path = r"data/Students Answersheet/"

# List to store DataFrames
df_student_all_lst = []

# Loop through all files in the directory
for filename in os.listdir(student_score_answersheet_file_path):
    # Check if the file is a CSV file
    if filename.endswith(".txt"):
        file_path = os.path.join(student_score_answersheet_file_path, filename)
        
        # Read the CSV file into a DataFrame
        df_student = pd.read_csv(file_path,delimiter="|")
        
        # Add a new column for the filename
        df_student['Filename'] = filename
        
        # Append the DataFrame to the list
        df_student_all_lst.append(df_student)

# Optionally, concatenate all DataFrames into a single DataFrame
final_student_df = pd.concat(df_student_all_lst, ignore_index=True)

# Display the final concatenated DataFrame
print(final_student_df)
final_student_df['usn_id'] = final_student_df['Filename'].apply(lambda x: x.split('_')[0])
final_student_df['student_name'] = final_student_df['Filename'].apply(lambda x: x.split('_')[1].replace('.txt', ''))

final_student_df

  Qno                           Answer                 Filename
0  Q1                       New Mumbai     1DS11IS202_Jacob.txt
1  Q2  I am not aware of this question     1DS11IS202_Jacob.txt
2  Q3                            Abdul     1DS11IS202_Jacob.txt
3  Q1                        New Delhi  1DS11IS203_Muzammil.txt
4  Q2       India’s Strategic Location  1DS11IS203_Muzammil.txt
5  Q3                      Abdul Kalam  1DS11IS203_Muzammil.txt
6  Q1                            Delhi      1DS11IS204_Ravi.txt
7  Q2       India’s Strategic Location      1DS11IS204_Ravi.txt
8  Q3                     Abdul Saleem      1DS11IS204_Ravi.txt

,Qno,Answer,Filename,usn_id,student_name
0,Q1,New Mumbai,1DS11IS202_Jacob.txt,1DS11IS202,Jacob
1,Q2,I am not aware of this question,1DS11IS202_Jacob.txt,1DS11IS202,Jacob
2,Q3,Abdul,1DS11IS202_Jacob.txt,1DS11IS202,Jacob
3,Q1,New Delhi,1DS11IS203_Muzammil.txt,1DS11IS203,Muzammil
4,Q2,India’s Strategic Location,1DS11IS203_Muzammil.txt,1DS11IS203,Muzammil
5,Q3,Abdul Kalam,1DS11IS203_Muzammil.txt,1DS11IS203,Muzammil
6,Q1,Delhi,1DS11IS204_Ravi.txt,1DS11IS204,Ravi
7,Q2,India’s Strategic Location,1DS11IS204_Ravi.txt,1DS11IS204,Ravi
8,Q3,Abdul Saleem,1DS11IS204_Ravi.txt,1DS11IS204,Ravi

In [23]:
#final_df=pd.merge(question_answer_blueprint_df[['Qno','Question Description','Answer','Max Marks']], df_student[['Qno','Answer']], on='id', how='inner')
#pd.merge(df1[['id', 'name', 'score']], df2[['id', 'age']], on='id', how='inner')

final_df = pd.merge(question_answer_blueprint_df, df_student, on='Qno', how='inner', suffixes=('_blueprint', '_studnet_response'))

#final_df = final_df.drop(columns=['Qno_studnet_response', 'score_df2'])

final_df

,Qno,Question Description,Answer_blueprint,Max Marks,Answer_studnet_response
0,Q1,Which is the Capital of India?,New Delhi,10,New Delhi
1,Q2,What are Geographical Benifits of India?,India’s Strategic Location.Isolation and Conne...,30,India’s Strategic Location
2,Q3,Who is Missile Man of India?,APJ Abdul Kalam,10,Abdul Kalam

In [87]:
#New enhancement
final_df = pd.merge(question_answer_blueprint_df, final_student_df, on='Qno', how='inner', suffixes=('_blueprint', '_studnet_response'))

#final_df = final_df.drop(columns=['Qno_studnet_response', 'score_df2'])

final_df

,Qno,Question Description,Answer_blueprint,Max Marks,Answer_studnet_response,Filename,usn_id,student_name
0,Q1,Which is the Capital of India?,New Delhi,10,New Mumbai,1DS11IS202_Jacob.txt,1DS11IS202,Jacob
1,Q1,Which is the Capital of India?,New Delhi,10,New Delhi,1DS11IS203_Muzammil.txt,1DS11IS203,Muzammil
2,Q1,Which is the Capital of India?,New Delhi,10,Delhi,1DS11IS204_Ravi.txt,1DS11IS204,Ravi
3,Q2,What are Geographical Benifits of India?,India’s Strategic Location.Isolation and Conne...,30,I am not aware of this question,1DS11IS202_Jacob.txt,1DS11IS202,Jacob
4,Q2,What are Geographical Benifits of India?,India’s Strategic Location.Isolation and Conne...,30,India’s Strategic Location,1DS11IS203_Muzammil.txt,1DS11IS203,Muzammil
5,Q2,What are Geographical Benifits of India?,India’s Strategic Location.Isolation and Conne...,30,India’s Strategic Location,1DS11IS204_Ravi.txt,1DS11IS204,Ravi
6,Q3,Who is Missile Man of India?,APJ Abdul Kalam,10,Abdul,1DS11IS202_Jacob.txt,1DS11IS202,Jacob
7,Q3,Who is Missile Man of India?,APJ Abdul Kalam,10,Abdul Kalam,1DS11IS203_Muzammil.txt,1DS11IS203,Muzammil
8,Q3,Who is Missile Man of India?,APJ Abdul Kalam,10,Abdul Saleem,1DS11IS204_Ravi.txt,1DS11IS204,Ravi

In [88]:
import os
from dotenv import load_dotenv
load_dotenv()

os.environ["HF_TOKEN"]=os.getenv("HF_TOKEN")
os.environ["OPENAI_API_KEYKEN"]=os.getenv("OPENAI_API_KEY")

In [89]:
import openai
print(openai.__version__)

0.28.0

In [37]:
def generate_scores_for_paper(df):
    """
    Evaluates a student's entire paper based on the correct answers using GPT-4.

    Args:
        df (pd.DataFrame): DataFrame containing questions, correct answers, and max marks and studnet answer or response to each question.

    Returns:
        list: A list of scores for each question.
    """
    # Construct the questions, answers, and student answers into a formatted string
    questions_and_answers = []
    for i, row in df.iterrows():
        question = row['Question Description']
        correct_answer = row['Answer_blueprint']
        student_answer = row['Answer_studnet_response']
        max_marks = row['Max Marks']
        
        # Format the data into a structured string
        questions_and_answers.append(f"""
        Question: {question}
        Correct Answer: {correct_answer}
        Student's Answer: {student_answer}
        Max Marks: {max_marks}
        """)

    # Join all the question-answer pairs into one string
    full_prompt = "\n".join(questions_and_answers) + """
    Based on the student's answers, assign a score out of the maximum marks for each question, and return the scores only. No explanations required.
    """

    try:
        # Call GPT-4 to evaluate the answers for all questions
        response = openai.ChatCompletion.create(
            model="gpt-4",  # Or "gpt-3.5-turbo" depending on your choice
            messages=[{
                "role": "system", "content": "You are an assistant helping grade answers."
            }, {
                "role": "user", "content": full_prompt
            }],
            max_tokens=100,  # Adjust token limit as needed based on the number of questions
            temperature=0.7  # Adjust the creativity factor
        )

        # Extract the response (which should contain the scores for each question)
        scores = response['choices'][0]['message']['content'].strip()

        return scores

    except openai.error.OpenAIError as e:
        # Handle OpenAI API errors
        print(f"Error with OpenAI API: {e}")
        return "Error evaluating the paper."

    except Exception as e:
        # Handle unexpected errors
        print(f"Unexpected error: {e}")
        return "Unexpected error occurred during evaluation."

In [39]:
res=generate_scores_for_paper(final_df)

In [95]:
#New Enhancemenet
res_raw=generate_scores_for_paper(final_df)

In [96]:
res_raw

'0/10\n10/10\n7/10\n0/30\n10/30\n10/30\n5/10\n10/10\n0/10'

In [ ]:
type(res_raw)
print(res_raw)

0/10
10/10
7/10
0/30
10/30
10/30
5/10
10/10
0/10

In [103]:
import re
res = [int(match.split('/')[0]) for match in re.findall(r'\d+/\d+', res_raw)]

In [104]:
res

[0, 10, 7, 0, 10, 10, 5, 10, 0]

In [105]:
final_df["Marks Obtained"]=res
final_df['Marks Obtained'] = pd.to_numeric(final_df['Marks Obtained'], errors='coerce')

final_df

,Qno,Question Description,Answer_blueprint,Max Marks,Answer_studnet_response,Filename,usn_id,student_name,Marks Obtained
0,Q1,Which is the Capital of India?,New Delhi,10,New Mumbai,1DS11IS202_Jacob.txt,1DS11IS202,Jacob,0
1,Q1,Which is the Capital of India?,New Delhi,10,New Delhi,1DS11IS203_Muzammil.txt,1DS11IS203,Muzammil,10
2,Q1,Which is the Capital of India?,New Delhi,10,Delhi,1DS11IS204_Ravi.txt,1DS11IS204,Ravi,7
3,Q2,What are Geographical Benifits of India?,India’s Strategic Location.Isolation and Conne...,30,I am not aware of this question,1DS11IS202_Jacob.txt,1DS11IS202,Jacob,0
4,Q2,What are Geographical Benifits of India?,India’s Strategic Location.Isolation and Conne...,30,India’s Strategic Location,1DS11IS203_Muzammil.txt,1DS11IS203,Muzammil,10
5,Q2,What are Geographical Benifits of India?,India’s Strategic Location.Isolation and Conne...,30,India’s Strategic Location,1DS11IS204_Ravi.txt,1DS11IS204,Ravi,10
6,Q3,Who is Missile Man of India?,APJ Abdul Kalam,10,Abdul,1DS11IS202_Jacob.txt,1DS11IS202,Jacob,5
7,Q3,Who is Missile Man of India?,APJ Abdul Kalam,10,Abdul Kalam,1DS11IS203_Muzammil.txt,1DS11IS203,Muzammil,10
8,Q3,Who is Missile Man of India?,APJ Abdul Kalam,10,Abdul Saleem,1DS11IS204_Ravi.txt,1DS11IS204,Ravi,0

In [106]:
# Group by 'usn_id' and 'student_name', and then aggregate
grouped_df = final_df.groupby(['usn_id', 'student_name']).agg(
    total_marks_obtained=('Marks Obtained', 'sum'),
    total_max_marks=('Max Marks', 'sum')
).reset_index()

In [107]:
grouped_df

       usn_id student_name  total_marks_obtained  total_max_marks
0  1DS11IS202        Jacob                     5               50
1  1DS11IS203     Muzammil                    30               50
2  1DS11IS204         Ravi                    17               50